@font-face{
    font-family: "National";
    src: url(/fonts/NationalPark-Regular.otf);
}

body {
    margin: 0;
    padding: 0;
    color: #fff;
    background: #000 url(imgs/wallpaper10.png) repeat center bottom fixed;
    background-size: cover;
    
}

*{
    font-family: National;
    color: rgb(0, 0, 0);
}
.header-words { 
    position: relative;
    background:url(/imgs/banner.png) no-repeat;
    background-size: 90%;
    
    background-position-x: center;
    background-position: top;
    margin: auto;
    color: rgb(0, 0, 0);
    text-align: center;
}
h4{
    position: relative;
    font-size: 1.5em;
    padding-left: 3%;
    white-space: pre-line; 
}
.TextBox{
    border-radius: 25px;
    margin: 60px;
    background-color: #ffffff;
    border: 5px solid #e8f6fa;
    opacity: 0.6;
}

.link:hover{
    color: rgb(37, 37, 37);
}
